<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="wdith=device-width, initial-scale=1.0">
    <title>iVenceu!</title>
    <link rel="icon" type="image/png" href="image/faveicon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>

<body>
    <!-- EXEMPLO DE TAG PARA USO DO CÓDIGO PYTHON
    <py-script>print("teste python")</py-script>
    -->
    <header>
        <div style="display: inline-block; margin-top: 5px;"><img src="image/logo.png" style="height: 35px; width: 35px;"></div>
        <div style= "margin-left: 10px; margin-top: 0px; display: inline-block;"><h1><strong>iVenceu</strong> - controle de vencimentos de documentos de SST</h1></div>
    </header>
    <main>
        <section>
            <a href="check_cpf.html"><button class="button_option"><strong>Cadastrar</strong></button></a>
            <a href="XXXXXXXXXXXXX"><button class="button_option" style="margin-left: 90px"><strong>Consultar</strong></button></a>
        </section>
    </main>

    <footer>
        <p><strong>Criado por: </strong> Cristina, Daniele e Raphael</p>
    </footer>
</body>

</html>