<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="wdith=device-width, initial-scale=1.0">
    <title>iVenceu!</title>
    <link rel="icon" type="image/png" href="image/faveicon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>

<body>
    <header>
        <div style="display: inline-block; margin-top: 5px;"><img src="image/logo.png" style="height: 35px; width: 35px;"></div>
        <div style= "margin-left: 10px; margin-top: 0px; display: inline-block;"><h1><strong>iVenceu</strong> - controle de vencimentos de documentos de SST</h1></div>
    </header>    
        <main style="padding-top: 2px;">
            <section>
                <h2 id="titulo_tela">CADASTRO DE FUNCIONÁRIO</h2>
                <label><strong>Foto:</strong>
                    <input type="file">
                </label>
                <label><strong>CPF:</strong>
                  <input class="input_register" placeholder="Digite o CPF">
                </label>
                <label><strong>Empresa:</strong>
                  <input type="text" placeholder="Digite o nome da empresa">
                </label>
                <label><strong>Funcionário:</strong>
                    <input type="text" placeholder="Digite o nome da funcionário">
                </label>
                <label><strong>Cadastro de documentos:</strong>
                    <input style="width: 350px;" type="text" placeholder="Digite o nome do documento">
                    <input type="date" placeholder="Data de validade">
                    <input style="width: 350px;" type="text" placeholder="Digite o nome do documento">
                    <input type="date" placeholder="Data de validade">
                    <input style="width: 350px;" type="text" placeholder="Digite o nome do documento">
                    <input type="date" placeholder="Data de validade">
                    <input style="width: 350px;" type="text" placeholder="Digite o nome do documento">
                    <input type="date" placeholder="Data de validade">
                </label>
                <button style="width: 100%;">Salvar</button>
              </section>
        </main>
      
        <footer>
            <p><strong>Criado por: </strong> Cristina, Daniele e Raphael</p>
        </footer>
</body>




</html>